{% extends 'base.html.twig' %}

{% block title "Modifier un rôle utilisateur" %}

{% block body %}

<div class="col-12 d-flex justify-content-center">
    <h1 class="title">Modifier le rôle</h1>
</div>

{{ form_start(form) }}
<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        {{ form_row(form.roles, {attr: {class: 'form-select'}}) }}
    </div> 
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
        <button class="btn w-100 bouton-connexion mt-5">Enregistrer</button>
    </div>
</div>
{{ form_end(form) }}


{% endblock %}