{% extends 'base.html.twig' %}

{% block title "Initialisation du mot de passe" %}

{% block body %}

{{ form_start(form) }}

<div class="col-12 d-flex justify-content-center mt-5">
    <h1 class="title">Initialisation du mot de passe</h1> 
</div>

<div class="col-12 d-flex justify-content-center mt-5">
    <div class="col-11 col-lg-6 col-xxl-4">
    <p class="text-center pb-0">Bienvenue sur le site Parcours-decouverte.</p>
    <p class="text-center mb-5">Afin de pouvoir vous connecter, vous devez créer votre mot de passe.</p>
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        <button class="btn w-100 bouton-connexion mt-5" type="submit">
            Valider
        </button>
    </div>
</div>

{{ form_end(form) }}

{% endblock %}